.title {
    display: flex;
    justify-content: space-around;
    background-color: rgb(136,203,211);
    border-width: 2px;
    border-bottom-style: solid;
    

}

body {
    margin: 0;
}


.searchBar {
    display: flex;
    justify-content: space-evenly;
}

.otherPage {
    margin: 0px;
    font-size: larger;
    color: black;
    text-decoration: none;
    background-color: rgb(136,203,211);
    padding: 30px;
}

.otherPage:hover{
    filter: brightness(70%);
}

h2 {
    padding-left: 2vw;
}

p {
    display: flex;
    justify-content: left;
    padding: 2vw;
    font-size: large;
    background-color: whitesmoke;
}

.imgButton {
    display: flex;
    justify-content: space-evenly;
}

#image {
    max-width: 40vw;
    max-height: 40vh;
    border-radius: 10px;
    border-width: 10px;
    border-style: groove;
    border-color: black;
}

#buttonSomething {
    max-width: 20vw;
    max-height: 40vh;
    border-radius: 10px;
    border-width: 10px;
    border-style: groove;
    border-color: black;
    font-size: larger;
    font-weight: bolder;
    background-color: rgb(136,203,211);
}